<div class="FAQandShare">

        <div id="DiscordSection" class="share-box">
          <div class="input-wrapper">
                <button><a class="btn btn-primary" href="https://discord.gg/pZwcncweFc" id="DiscordButton1" target="_blank" rel="noopener noreferrer"> Discord Link </a></button>
            </div>
        </div>

        <div id="GuideSection" class="share-box">
          <div class="input-wrapper">
              <button><a class="btn btn-primary" href="https://greenspeedracer.github.io/epgeniushowto/" id="guideButton" target="_blank" rel="noopener noreferrer">Guide</a></button>
          </div> 
        </div>

        <div id="shareSection" class="share-box">
          <button id="openShareModal">List Owners</button>
        </div>

        <div id="editCredsSection" class="share-box">
          <button id="openEditCreds">Edit Credentials</button>
        </div>
    </div>